<%= render 'editions/header_with_navigation', edition: @edition, guide: @guide %>
<%= render 'editions/old_edition_alert', edition: @edition, guide: @guide %>

<p class="row">
  <%= render 'editions/comments', edition: @edition, comments: @comments %>
</p>
