<%= render 'header_with_navigation', edition: @edition, guide: @guide %>

<div class="row">
  <pre class="col-md-8">
    <%= @edition.body %>
  </pre>
</div>

<p class="row">
  <%= render 'editions/comments', edition: @edition, comments: @comments %>
</p>
