<div class="event panel panel-default">
  <div class="panel-heading">
    <div class="pull-right">
      <%= l event.edition.updated_at, format: :date_without_time %>
    </div>
    Assigned to <%= event.edition.author.name %>
  </div>
</div>
