<div class="event comment panel panel-default">
  <div class="panel-heading">
    <div class="pull-right">
      <%= l event.comment.created_at, format: :date_without_time %>
    </div>
    <%= event.comment.user.name %>
  </div>
  <div class="panel-body">
    <%= auto_link(simple_format(event.comment.comment), :all, target: "_blank") %>
  </div>
</div>
