<div class="event panel panel-default">
  <div class="panel-heading">
    <div class="pull-right">
      <%= format_time(event.try(:updated_at) || event.try(:at)) %>
    </div>
    New draft created by <%= event.edition.author.name %>
  </div>
</div>
