<div class="event panel panel-default">
  <div class="panel-heading">
    <div class="pull-right">
      <%= format_time(event.edition.updated_at) %>
    </div>
    <%= event_action_for_changed_state(event.edition.state) %> by <%= event.edition.user.name %>
  </div>
</div>
