<div class="event panel panel-default">
  <div class="panel-heading">
    <div class="pull-right">
      <%= l event.edition.updated_at, format: :date_without_time %>
    </div>
    <%= event_action_for_changed_state(event.edition.state) %> by <%= event.edition.user.name %>
  </div>
</div>
