.topics {
  .left {
    display: inline;
  }
  .right {
    display: inline;
  }

  .glyphicon {
    cursor: pointer;
  }

  .glyphicon-trash {
    color: $brand-danger;
  }
}

.draggable-guide {
  margin-left: 2em;
  background-color: #f5f5f5;
}
