.topic-section-list {
  .list-group {
    min-height: 30px;
  }

  .list-group-item {
    margin-bottom: 10px;
  }

  .left {
    display: inline;
  }

  .right {
    display: inline;
  }

  .glyphicon {
    cursor: pointer;
  }

  .glyphicon-trash {
    color: $brand-danger;
  }
}

