.topics {
  .list-group {
    min-height: 30px;
  }

  .list-group-item {
    cursor: pointer;
    margin-bottom: 10px;
  }

  .list-group-item-placeholder {
    cursor: default;
  }

  .left {
    display: inline;
  }
  .right {
    display: inline;
  }

  .glyphicon {
    cursor: pointer;
  }

  .glyphicon-trash {
    color: $brand-danger;
  }

  .ungrouped-list {
    .glyphicon-trash {
      display: none;
    }
  }

}
