.topic-section-list {
  .list-group-item {
    margin-bottom: 10px;
  }
}

.guide-list {
  margin-bottom: 0;
}

.topic-section {
  .section-handle {
    float: left;
    cursor: pointer;
  }

  .section-body {
    margin-left: 22px;
  }
}

.guide {
  .guide-handle {
    display: inline-block;
    float: left;
    margin-right: 8px;
    cursor: pointer;
  }
}
