<%= content_for :page_title, "Edit #{@guide_form.guide.model_name.human.downcase}" %>

<%= render 'editions/header_with_navigation', edition: @guide_form.edition, guide: @guide_form.guide %>

<div class="row">
  <%= render 'form', guide_form: @guide_form %>
</div>
