<div class="row">
  <%= render 'editions/header_with_navigation', edition: @guide.latest_edition, guide: @guide %>
</div>

<div class="row">
  <%= render 'form', guide: @guide%>
</div>

<div class="row">
  <%= render 'editions/comments', edition: @guide.latest_edition, comments: @comments %>
</div>



