<div class='well'>
  <h2>Slug Migration <small><%= @slug_migration.slug %></small></h2>
  <% if @slug_migration.completed? %>
    <p>
      This migration has been completed, and redirects to: <%= @slug_migration.guide.try(:slug) %>
    </p>
  <% else %>
    <p>
      This migration has not been completed
    </p>
  <% end %>
</div>
